.container {
  padding: 20px;
}

.greeting {
  color: #f7be47;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.title {
  color: white;
  font-size: 72px;
  font-weight: 700;
  margin-top: -1rem;
  span {
    color: #f7be47;
  }
}

.description {
  color: #f5f5f5;
  font-size: 32px;
  margin-top: -1.5rem;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 3rem;
}

.buttonHire {
  height: 50px;
  background-color: #f7be47;
  border-radius: 25px;
  border: none;
}

.buttonWork {
  height: 50px;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid white;
  span {
    color: white;
  }
}

.buttonTitle {
  color: black;
  margin: 50px 25px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
